.notification-box {
  position: relative;
  background-color: #fffbea;
  font-family: sans-serif;
  border-radius: 6px;
  border: 1px solid #ddd;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 46rem;
  box-sizing: border-box;
  padding-block: 1rem;
  padding-inline: 4rem;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #78350f;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.message {
  margin: 0;
  font-size: 1rem;
}

.link-wrapper {
  margin-top: 0.75rem;
}

.link {
  font-weight: 600;
  font-size: 1rem;
  color: #2563eb; // blue-600
  text-decoration: underline;
  transition: color 0.2s ease;

  &:hover {
    color: #1d4ed8; // blue-700
  }
}