.update-item {
  font-family: sans-serif;
  margin-block: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ddd;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 46rem;
  box-sizing: border-box;

  .time {
    margin-left: auto;
    font-size: 0.8rem;
    color: #555;
  }
}

.update-item.approved {
  border-bottom: 4px solid #84bd00;
}

.update-item.unapproved {
  border-bottom: 4px solid #f44336;
}