.feed {
    .feed-item {
        font-family: sans-serif;
        background-color: #EEE;
        margin-block: 0.2rem;
        padding: 0.5rem;
        border-radius: 6px;
    }

    .time {
        margin-left: auto;
        font-size: 0.8rem;
        color: #555;
    }
}