.navbar {
    display: flex;
    margin: 0;
    font-family: sans-serif;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: #fff;

    .navbar_left {
        h2 {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            color: white;
        }
    }

    .navbar_right {
        margin-left: auto;
        margin-right: 1rem;

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding-inline: 0.25rem;
        }

        a {
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            vertical-align: middle;
            margin-left: 50px;
            font-weight: bolder;
        }

        a:hover {
            font-weight: bolder;
            color: #84bd00;
        }
    }
}